<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="cat.jpeg">
    <title>Document</title>
</head>
<body>
    <h2>Students</h2>
    <ul>
        <% for (let i = 0; i < all_students.length; i++) { %>
            <li><%= all_students[i] %></li>
        <% } %>
    </ul>
</body>
</html>